<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nineone.nocm.mapper.file">
    <insert id="saveFile">
        insert file(original_name, server_name, path, extension, message_id,file_size)
            values (#{original_name}, #{server_name}, #{path}, #{extension}, #{message_id}, #{file_size})
    </insert>

    <select id="getFile" resultType="com.nineone.nocm.domain.ContentsFile">
    	select * from file where server_name = #{server_name}
    </select>

    <select id="getChannelFileList" resultType="com.nineone.nocm.domain.ContentsFile">
        SELECT * FROM FILE F
        JOIN MESSAGE M
        ON F.MESSAGE_ID = M.ID
        WHERE M.CHANNEL_ID = #{CHANNEL_ID} AND M.DELETE_YN = 'N'
    </select>
</mapper>
